# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/

# Logs
logs/
*.log

# Git related
.git/
.gitignore

# IDE related
.vscode/
.idea/

# Test files
coverage/
jest.config.ts

# Other files not needed in Docker image
README.md
LICENSE
CODE_OF_CONDUCT.md
logo.png
favicon.ico
